POSTGRES_USER=edu_user
POSTGRES_PASSWORD=1111
POSTGRES_DB=edu_program
DATABASE_URL=postgresql://edu_user:1111@postgres:5432/edu_program
PAYLOAD_SECRET=YOUR_SECRET_HERE

# First Admin User
FIRST_USER_EMAIL=admin@vnau.edu.ua
FIRST_USER_PASSWORD=admin
